head
  title= name
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/css/bootstrap.css')
  style(type='text/css')
    body { padding-top: 60px; }
  link(rel='stylesheet', href='/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/css/style.css')
  
