script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/underscore.js')
script(type='text/javascript', src='/js/backbone.js')
script(type='text/javascript', src='/js/app.js')