script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/underscore.js')
script(type='text/javascript', src='/js/backbone.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/dashboard.js')
script(type='text/javascript', src='/js/inspector.js')
script(type='text/javascript', src='/js/preferences.js')