!!!
html
  include inc/header

  body.inspector

    #devtools-wrapper
        iframe#devtools-frame

    #alert.modal.hide.fade
        #alert-text.modal-body
            p Debug session closed. Waiting...
    
    include inc/scripts