
/*
 * Marenin Alexander
 * October, December 2012
 * http://github.com/ioncreature/webkit-developer-tools-dark-theme
 */
#-webkit-web-inspector #toolbar {
  background-image: -webkit-linear-gradient(#555, #333) !important;
}
#-webkit-web-inspector #main {
  top: 26px !important;
}
#-webkit-web-inspector .toolbar-item .toolbar-icon {
  -webkit-transform: scale(0.72) translateY(-4px);
}
#-webkit-web-inspector .toolbar-item .toolbar-label {
  color: #ccc !important;
}
#-webkit-web-inspector .status-bar {
  background-image: -webkit-linear-gradient(#999, #777) !important;
  color: #ccc !important;
}
#-webkit-web-inspector.inactive #toolbar {
  background-image: -webkit-linear-gradient(#666, #444) !important;
}
#-webkit-web-inspector.inactive .status-bar {
  background-image: -webkit-linear-gradient(#aaa, #888) !important;
}
#-webkit-web-inspector.compact.status-bar .toolbar-icon {
  -webkit-transform: translateY(1px);
  margin: 10px 5px 0 5px !important;
}
#-webkit-web-inspector.compact #toolbar {
  height: 30px !important;
}
#-webkit-web-inspector.compact #main {
  top: 30px !important;
}
#-webkit-web-inspector ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
#-webkit-web-inspector ::-webkit-scrollbar:hover {
  height: 10px;
}
#-webkit-web-inspector ::-webkit-scrollbar-button:start:decrement,
#-webkit-web-inspector ::-webkit-scrollbar-button:end:increment {
  height: 0px;
  width: 0px;
}
#-webkit-web-inspector ::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0.12);
}
#-webkit-web-inspector ::-webkit-scrollbar-track:hover {
  background-color: rgba(230,230,230,0.18);
}
#-webkit-web-inspector ::-webkit-scrollbar-thumb:vertical,
#-webkit-web-inspector ::-webkit-scrollbar-thumb:horizontal {
  border-radius: 20px;
  background: rgba(10,10,10,0.75);
  height: 50px;
  width: 50px;
}
#-webkit-web-inspector ::selection {
  background: #81b281;
  color: #ddd;
}
#-webkit-web-inspector #console-messages {
  background: #282b2e;
}
#-webkit-web-inspector #console-messages a {
  color: #666 !important;
}
#-webkit-web-inspector #console-messages a:hover {
  color: #999 !important;
}
#-webkit-web-inspector .console-message {
  color: #c0c2c4 !important;
  font-weight: 100 !important;
}
#-webkit-web-inspector .console-message,
#-webkit-web-inspector .console-user-command {
  font-size: 14px !important;
  border-bottom: 1px solid #3b3b3b !important;
}
#-webkit-web-inspector .console-user-command > .console-message-text {
  color: #c4c7c6 !important;
}
#-webkit-web-inspector .console-formatted-number {
  color: #eec574 !important;
}
#-webkit-web-inspector .console-formatted-string {
  color: #b5bc67 !important;
}
#-webkit-web-inspector .console-formatted-object {
  color: #7c7c7c !important;
}
#-webkit-web-inspector .console-formatted-function {
  color: #fff !important;
}
#-webkit-web-inspector .console-formatted-regexp {
  color: #c96666 !important;
}
#-webkit-web-inspector .console-group-messages .section .header .title {
  color: #f1f1f1 !important;
}
#-webkit-web-inspector .console-group-messages .section .header::before,
#-webkit-web-inspector .properties-tree li.parent::before {
  content: url("chrome-devtools://devtools/Images/treeRightTriangleWhite.png") !important;
}
#-webkit-web-inspector .console-group-messages .section.expanded .header::before,
#-webkit-web-inspector .properties-tree li.parent.expanded::before {
  content: url("chrome-devtools://devtools/Images/treeDownTriangleWhite.png") !important;
}
@-webkit-keyframes webkit-error-level {
  0% {
    color: #f77;
!important
  }
!important

  50% {
    color: #f22;
!important
  }
!important

  100% {
    color: #f77;
!important
  }
!important
}
#-webkit-web-inspector .console-error-level .console-message-text .title {
  color: #f66 !important;
  -webkit-animation-name: webkit-error-level;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-timing-function: ease-in-out;
}
#-webkit-web-inspector #console-prompt {
  color: #f1f1f1 !important;
}
#-webkit-web-inspector #console-prompt::before {
  color: #fff !important;
}
#-webkit-web-inspector .properties-tree .value {
  color: #ffcd22 !important;
}
#-webkit-web-inspector .webkit-css-comment {
  color: #66747b !important;
}
#-webkit-web-inspector .webkit-css-url {
  color: #eec574 !important;
}
#-webkit-web-inspector .webkit-css-color {
  color: #eec574 !important;
}
#-webkit-web-inspector .webkit-css-string {
  color: #ec7600 !important;
}
#-webkit-web-inspector .webkit-css-keyword {
  color: #db925f !important;
}
#-webkit-web-inspector .webkit-css-number {
  color: #ffcd22 !important;
}
#-webkit-web-inspector .webkit-css-property {
  color: #678cb1 !important;
}
#-webkit-web-inspector .webkit-css-at-rule {
  color: #b094bb !important;
}
#-webkit-web-inspector .webkit-css-selector,
#-webkit-web-inspector .styles-selector {
  color: #93c763 !important;
}
#-webkit-web-inspector .webkit-css-bang-keyword {
  color: #c800b4;
}
#-webkit-web-inspector .webkit-css-important {
  color: #e56258 !important;
}
#-webkit-web-inspector .webkit-javascript-comment {
  color: #818e96 !important;
}
#-webkit-web-inspector .webkit-javascript-keyword {
  color: #93c763 !important;
}
#-webkit-web-inspector .webkit-javascript-number {
  color: #ffcd22 !important;
}
#-webkit-web-inspector .webkit-javascript-string {
  color: #ec7600 !important;
}
#-webkit-web-inspector .webkit-javascript-regexp {
  color: #d39745 !important;
}
#-webkit-web-inspector .webkit-line-content,
#-webkit-web-inspector .webkit-javascript-ident {
  color: #e0e2e4 !important;
}
#-webkit-web-inspector .webkit-html-comment {
  color: #818e96 !important;
}
#-webkit-web-inspector .webkit-html-tag {
  color: #8cbbad !important;
}
#-webkit-web-inspector .webkit-html-doctype {
  color: #557182;
}
#-webkit-web-inspector .webkit-html-attribute-name {
  color: #b3b689 !important;
}
#-webkit-web-inspector .webkit-html-attribute-value {
  color: #e8e2b7 !important;
}
#-webkit-web-inspector .webkit-html-js-node {
  color: #c2c3c3 !important;
}
#-webkit-web-inspector .webkit-html-external-link,
#-webkit-web-inspector .webkit-html-resource-link {
  color: #eec574 !important;
  text-decoration: none;
}
#-webkit-web-inspector .webkit-html-external-link:hover,
#-webkit-web-inspector .webkit-html-resource-link:hover {
  text-decoration: underline;
}
#-webkit-web-inspector .script-view,
#-webkit-web-inspector .properties-tree,
#-webkit-web-inspector .pane,
#-webkit-web-inspector .breakpoint-list li,
#-webkit-web-inspector .pane > .body .info {
  color: #e0e2e4 !important;
}
#-webkit-web-inspector .script-view,
#-webkit-web-inspector .text-editor-contents,
#-webkit-web-inspector .pane.expanded,
#-webkit-web-inspector #elements-content,
#-webkit-web-inspector .resource-view.json {
  background: #282b2e !important;
}
#-webkit-web-inspector .highlight {
  color: #f1f1f1;
}
#-webkit-web-inspector li.hovered:not(.selected) .selection {
  background: rgba(255,255,255,0.2) !important;
}
#-webkit-web-inspector #elements-content .selected {
  background-color: #373b41 !important;
}
#-webkit-web-inspector .sidebar-separator {
  padding: 3px 5px 5px !important;
  background: #242729 !important;
  color: #b3b3b3 !important;
  text-shadow: none !important;
}
#-webkit-web-inspector .editing {
  color: #fff !important;
  background-color: #000 !important;
}
#-webkit-web-inspector .styles-section.read-only {
  background: #293134 !important;
}
#-webkit-web-inspector .styles-section,
#-webkit-web-inspector .subtitle {
  color: #7c7c7c !important;
}
#-webkit-web-inspector .styles-sidebar-separator,
#-webkit-web-inspector .pane > .title {
  background-image: -webkit-linear-gradient(#555, #333) !important;
  border-top-color: #666 !important;
  border-bottom-color: #333 !important;
  color: #bbb !important;
  text-shadow: #000 0 1px 0 !important;
  text-overflow: ellipsis !important;
}
#-webkit-web-inspector .pane > .title > button,
#-webkit-web-inspector .pane > .title > select {
  -webkit-filter: invert(1);
}
#-webkit-web-inspector .split-view-sidebar-right {
  background: #222 !important;
}
#-webkit-web-inspector .styles-section .properties li.parent::before,
#-webkit-web-inspector .section > .header::before,
#-webkit-web-inspector .properties-tree li.parent::before,
#-webkit-web-inspector .event-bars .event-bar .header::before,
#-webkit-web-inspector .outline-disclosure li.parent::before {
  content: url("chrome-devtools://devtools/Images/treeRightTriangleWhite.png") !important;
}
#-webkit-web-inspector .styles-section .properties li.parent.expanded::before,
#-webkit-web-inspector .section.expanded > .header::before,
#-webkit-web-inspector .properties-tree li.parent.expanded::before,
#-webkit-web-inspector .event-bars .event-bar.expanded .header::before,
#-webkit-web-inspector .outline-disclosure li.parent.expanded::before {
  content: url("chrome-devtools://devtools/Images/treeDownTriangleWhite.png") !important;
}
#-webkit-web-inspector .child-editing {
  color: #fff !important;
}
#-webkit-web-inspector .section .properties .name,
#-webkit-web-inspector .event-properties .name {
  color: #82a1be !important;
}
#-webkit-web-inspector .styles-selector {
  color: #c96666 !important;
}
#-webkit-web-inspector .section .header {
  color: #ccc !important;
}
#-webkit-web-inspector .properties .value {
  color: #c2c3c3 !important;
}
#-webkit-web-inspector .metrics {
  color: #333 !important;
}
#-webkit-web-inspector .metrics .border {
  border-color: #fff !important;
}
#-webkit-web-inspector .event-bars .event-bar .header .title {
  color: #969796 !important;
  text-shadow: none !important;
}
#-webkit-web-inspector .console-formatted-number {
  color: #eec574 !important;
}
#-webkit-web-inspector .console-formatted-string {
  color: #b5bc67 !important;
}
#-webkit-web-inspector .console-formatted-object,
#-webkit-web-inspector .console-formatted-node,
#-webkit-web-inspector .console-formatted-array {
  color: #7c7c7c !important;
}
#-webkit-web-inspector .console-formatted-function {
  color: #fff !important;
}
#-webkit-web-inspector .console-formatted-regexp {
  color: #c96666 !important;
}
#-webkit-web-inspector .styles-element-state-pane {
  background: #373b41 !important;
}
#-webkit-web-inspector .popover .content {
  background-color: #444 !important;
  border-radius: 4px;
}
